<li class="left clearfix friend-item <%= msg.read_at ? 'read' : 'not_read'%> message-<%= msg.id %>" >
    <span class="chat-img pull-left">
        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
    </span>
    <div class="chat-body clearfix" style="margin-left: 8rem; margin-top: .5rem">
        <div class="header">
            <strong class="primary-font">Sender: <%= msg.sender.name %></strong>
        </div>
        <div class="body">
            <p>
              <strong>Content: </strong> <span><%= msg.body %></span>
              <span class="pull-right text-muted small"><em><%= msg.created_at %></em></span>
            </p>
            <p><a class="show_detail_message" href="javascript:void(0)" data-toggle="modal" data-target= ".detail_message" data-id="<%= msg.id %>" data-content="<%= msg.body %>" data-name="<%= msg.sender.name %>" data-email="<%= msg.sender.email %>" data-time="<%= msg.created_at %>">Read more</a></p>
        </div>
    </div>
</li>

