<div class="container">
  <div class="row">
    <h2 class="text-center text-bold">Incoming Messages</h2>
  </div>
  <br/><br/>
  <div class="row">
    <div class="messages_sent">
      <table class="table table-hover table-center table-responsive">
        <thead>
          <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Email</th>
            <th>Content</th>
            <th>Send At</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each_with_index do |message, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= message.sender.name %></td>
            <td><%= message.sender.email %></td>
            <td><%= message.body %> </td>
            <td><%= message.created_at.strftime('%A, %d %b %Y %l:%M %p')%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
