<div class="space navbar-collapse">
  <ul class="breadcrumbs nav navbar-nav">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
        <%= t("page.master.menu.home") %>
      <% end%>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li class="signup">
        <%= link_to users_path do %>
          <i class="fa fa-users" aria-hidden="true"></i>
          Users
        <% end %>
      </li>
      <% unless logged_in? %>
        <li class="signup">
          <%= link_to new_user_path do %>
            <i class="fa fa-registered" aria-hidden="true"></i>
            Create New Account
          <% end %>
        </li>
        <li>
          <%= link_to new_session_path do %>
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          <% end %>
        </li>
      <% else %>
        <li class="logout">
          <%= link_to(logout_path ,method: :delete) do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          <% end  %>
        </li>
      <% end %>

  </ul>
</div>
