<div class="space navbar-collapse">
  <ul class="breadcrumbs nav navbar-nav">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
        <%= t("page.master.menu.home") %>
      <% end%>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li class="signup">
        <%= link_to friendships_path do %>
          <i class="fa fa-users" aria-hidden="true"></i>
          Friends
        <% end %>
        <%= link_to '#' do %>
          <i class="fa fa-users" aria-hidden="true"></i>
          Messages
        <% end %>
      </li>
      <% unless logged_in? %>
        <li class="signup">
          <%= link_to new_user_path do %>
            <i class="fa fa-registered" aria-hidden="true"></i>
            Create New Account
          <% end %>
        </li>
        <li>
          <%= link_to new_session_path do %>
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          <% end %>
        </li>
      <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%=current_user.name%> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="background:#5a94f4">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Setting", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logout" , logout_path, method: "delete" %>
          </li>
        </ul>
      </li>
      <% end %>

  </ul>
</div>
