<!DOCTYPE html>
<html>
  <head>
    <title>Trung Manucian Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <!-- <div class="container"> -->
        <%= render "partials/header" %>
        <%= render "partials/navbar" %>
        <div class="container" style="margin-bottom: 100px; min-height: 300px">
          <div class="row">
            <%= flash_messages %>
            <br/>
            <%= yield %>
          </div>
        </div>
        <%= render "partials/footer" %>
      <!-- </div> -->
    </div>
  </body>
</html>
